<div class="gap-4 grid grid-cols-3 mt-4 mb-4 h-[85vh]">
    <app-uploader-card [title]="'Első félévi jelentkezések'" [documentType]="'first_semester_applications'"></app-uploader-card>
    <app-uploader-card [title]="'Második félévi jelentkezések'" [documentType]="'second_semester_applications'"></app-uploader-card>
    <app-uploader-card [title]="'Megjelölt kollégiumi sorrendek'" [documentType]="'dormitory_orders'"></app-uploader-card>
    <app-uploader-card [title]="'Szociális lista'" [documentType]="'social_quotas'"></app-uploader-card>
    <app-uploader-card [title]="'Közösségi lista'" [documentType]="'community_quotas'"></app-uploader-card>
    <app-uploader-card [title]="'Szak kódok'" [documentType]="'major_codes'"></app-uploader-card>
</div>