<div class="gap-4 grid grid-cols-2 mt-4 mb-4 h-[85vh]">
    <app-uploader-card [title]="'Első féléves jelentkezések'" [documentType]="'first_semester_applications'"></app-uploader-card>
    <app-uploader-card [title]="'Második féléves jelentkezések'" [documentType]="'second_semester_applications'"></app-uploader-card>
    <app-uploader-card [title]="'Kollégiumi sorrendek'" [documentType]="'dormitory_orders'"></app-uploader-card>
    <app-uploader-card [title]="'Szociális és közösségi listák'" [documentType]="'social_quotas'"></app-uploader-card>
</div>