<ng-container *ngIf="isLoggedIn(); else loginPage">
  <div class="flex justify-between bg-light-background p-4 h-screen font-primary">
    <div class="pr-2 basis-[15%]">
      <app-sidebar></app-sidebar>
    </div>
    <div class="pl-2 basis-[85%]">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #loginPage>
  <app-login></app-login>
</ng-template>

<app-modal-base *ngIf="activeModal === 'editStudentModal'">
  <app-edit-student-modal [selectedStudent]="selectedObject"></app-edit-student-modal>
</app-modal-base>

<app-modal-base *ngIf="activeModal === 'editDormitoryModal'">
  <app-edit-dormitory-modal [selectedDormitory]="selectedObject"></app-edit-dormitory-modal>
</app-modal-base>

<app-modal-base *ngIf="activeModal === 'admissionByCommunityModal'">
  <app-community-admission-modal></app-community-admission-modal>
</app-modal-base>

<app-modal-base *ngIf="activeModal === 'addDormitoryModal'">
  <app-add-dormitory-modal></app-add-dormitory-modal>
</app-modal-base>

<!-- admission process -->
<app-modal-base *ngIf="activeModal === 'admissionScoresModal'">
  <app-dynamic-table
    [collectionName]="'dummy_applications_collection'"
    [title]="'Felvételi pontszámítás'"
    [pageSize]="10"
    [attributes]="[
      { key: 'Neptun kód', header: 'Neptun kód' },
      { key: 'Szemeszter_next', header: 'Félév' },
      { key: 'Ösztöndíjindex', header: 'Ösztöndíjindex első' },
      { key: 'Ösztöndíjindex_next', header: 'Ösztöndíjindex második' },
      { key: 'Kollégiumi átlag', header: 'Kollégiumi átlag' } 
  ]">
  </app-dynamic-table>
</app-modal-base>

<app-modal-base *ngIf="activeModal === 'createAdmissionUnitsModal'">
  <app-dynamic-table
    [collectionName]="'dummy_groups'"
    [title]="'Felvételi egységek létrehozása'"
    [pageSize]="10"
    [attributes]="[
      { key: 'group', header: 'Felvételi egység' },
      { key: 'student_count', header: 'Hallgatók száma' }
  ]">
  </app-dynamic-table>
</app-modal-base>

<app-modal-base *ngIf="activeModal === 'createAdmissionUnitsModal'">
  <app-dynamic-table
    [collectionName]="'dummy_groups'"
    [title]="'Egységenként felvehető hallgatók számának rögzítése'"
    [pageSize]="10"
    [attributes]="[
      { key: 'group', header: 'Felvételi egység' },
      { key: '', header: 'Felvehető hallgatók száma' }
  ]">
  </app-dynamic-table>
</app-modal-base>