<div class="flex flex-col border-2 bg-light-primary p-4 border-light-accent rounded-3xl w-full h-full">
    <span class="text-2xl text-light-accent">
        {{ title }}
    </span>
    <div class="mt-2 mb-4 border-t-2 border-light-accent w-full"></div>
    <div class="flex flex-col justify-center items-center border-2 bg-light-secondary border-light-accent rounded-3xl w-full h-full"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
    >
        <ng-container *ngIf="!fileUploaded; else fileUploadedTemplate">
            <span class="text-light-accent text-xl">
                Húzd ide a Excel fájlt a feltöltéshez!
            </span>
        </ng-container>
        <ng-template #fileUploadedTemplate>
            <span class="text-light-accent text-xl">
                Fájl feltöltve: {{ file?.name }}
            </span>
        </ng-template>
    </div>
    <div class="flex justify-center">
        <button (click)="handleUpload()" class="bg-light-accent mt-4 p-4 rounded-3xl w-1/3 text-center text-light-primary text-xl transition-transform duration-200 ease-in-out hover:scale-110">
            Feltöltés
        </button>
    </div>
</div>