<div class="flex flex-col border-2 bg-light-primary mt-4 mb-4 p-8 border-light-accent rounded-3xl h-[85vh]">
    <app-dynamic-table
        [collectionName]="'dummy_applications_collection'"
        [title]="'Hallgatók szerkesztése'"
        [pageSize]="10"
        [attributes]="[
            { key: 'Nyomtatási név', header: 'Név', editable: false },
            { key: 'Neptun kód', header: 'Neptun kód', editable: false },
            { key: 'Ösztöndíjindex', header: 'Ösztöndíjindex első', editable: true },
            { key: 'Ösztöndíjindex_next', header: 'Ösztöndíjindex második', editable: true },
            { key: 'Modul kód', header: 'Modul kód', editable: true },
        ]">
    </app-dynamic-table>
</div>